// commons

// global
*{
    box-sizing: border-box;
    font-family: $mainFont;
}

body, html{
    overflow-x: hidden;
}

p{
    font-size: 1.5em;
    color: $pColor;
}

label{
    font-size: 1.5em;
    color: $pColor;
}

/* main{
    section{
        div{
            p{
                @include textos(5em, 1.8em, $mainColor, center)
            }
        }
    }
}
 */
