// que hacer

.intro-qh{
    margin: 50px auto;
    .line{
        margin-bottom: 20px;
    }
    .title{
        font-size: 3em;
    }
    .p-qh{
        font-size: 1.8em;
        margin: 0 70px;
    }
}

.contenedor-text-in{
    width: 100%;
    height: auto;
    background-color: $quehacerColor;
    display: $displayFlex;
    margin-bottom: 20px;
    border-radius: 15px;

    .ctn{
        margin: 0;
        padding: 10px 30px;
    }
}

.col-qh{
    flex-direction: column;
    .img-p{
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
    }
    .content-text{
        justify-content: $justifycontentBetween;
        text-align: justify;
        margin: auto;
        padding: 15px;
    }
    .title-p{
        text-align: left;
        margin: 20px auto;
        padding: 0;
    }
    .card-text{
        font-family: $secondaryFont;
        font-size: 1.4em;
    }
}






