// vars globales

// colores
$mainColor:rgb(77, 94, 94);
$secondaryColor:rgb(115, 146, 151);
$whitesmokeColor: rgb(245, 245, 245); 
$pColor:rgb(143, 143, 143);
$quehacerColor: rgb(207, 219, 218);
$p-exploreColor: rgb(190, 190, 190);
// fonts
$mainFont:'Bebas Neue', sans-serif;
$secondaryFont:'Arial', sans-serif;

//display
$displayFlex: flex;
$displayGrid: grid;
$displayNone: none;

// aling-items
$alignitemCenter: center;

// justify-content
$justifycontentCenter: center;
$justifycontentEnd: End;
$justifycontentBetween: space-between;
$justifycontentStart: start;
$justifycontentFlex-end: flex-end;

